.anzeige DIV.aktuell {
   background: #CEF7B4;
}

.anzeige div {
   width: 50px; 
   height: 20px;
   float:left;
   margin: 7px;
   border: 1px solid #ddd;
   background: #eee;
   text-align: center;
}

#drawarea {
   top:50%;
   left:50%;
   margin-top: -267px; 
   margin-left: -400px;
   width: 800px;
   height: 533px;
   /* border: 2px solid #72B735; */
   background: transparent url(img/labyrinth_main.jpg);
   position: absolute;
}
#kugel {
   width: 30px;
   height: 30px;
   position: absolute;
   z-index:2;
   top: 469px;
   left:715px;
   background: transparent url(img/kugel_klein.png);
}
#ziel {
   position: absolute;
   width: 25px;
   height: 25px;
   left: 549px;
   top: 213px;
   /*    background: #C5AEF9; */
}

#verloren, #ende {
	display:none;
	width: 400px;
	text-align:center;
	font-size: 2em;
	line-height: 4em;
	padding:20px;
	position: absolute;
	z-index:5;
    top:50%;
	left:50%;
	margin-top: -2em; 
	margin-left: -200px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;


}
#ende {
	background-color: #E1F4D2;
	border:solid 1px #2de81c;
}
#verloren {
	background-color: #F4E9D2;
	border:solid 1px #F93822;
}

.loch {
	width:10px;
	height: 10px;
	position:absolute;
	/*  background: #C5AEF9; */
}
#loch1 {
	left: 181px;
	top:80px;
}
#loch2{
	left: 290px;
	top:77px;
}
#loch3 {
	left: 458px;
	top: 66px;
}
#loch4 {
	left: 545px;
	top: 67px;
}
#loch5 {
	left: 102px;
	top: 131px;
}
#loch6 {
	left: 727px;
	top:376px;
}
#loch7{
	left: 596px;
	top:375px;
}
#loch8 {
	left: 564px;
	top: 459px;
}
#loch9 {
	left: 654px;
	top: 250px;
}
#loch10 {
	left: 694px;
	top: 112px;
}
#loch11 {
	left: 591px;
	top:126px;
}
#loch12{
	left: 419px;
	top:169px;
}
#loch13 {
	left: 452px;
	top: 224px;
}
#loch14 {
	left: 267px;
	top: 209px;
}
#loch15 {
	left: 65px;
	top: 209px;
}
#loch16 {
	left: 60px;
	top: 300px;
}
#loch17{
	left: 62px;
	top:458px;
}
#loch18 {
	left: 224px;
	top: 303px;
}
#loch19 {
	left: 173px;
	top: 457px;
}
#loch20 {
	left: 301px;
	top: 457px;
}
#loch21 {
	left: 415px;
	top:318px;
}
#loch22{
	left: 465px;
	top:391px;
}
#loch23 {
	left: 415px;
	top: 457px;
}

.hindernis {
	position: absolute;
	/*  background: lightblue; */
}
#hindernis1 {
	left: 105px;
	top: 23px;
	width:37px;
	height:81px;
}
#hindernis2 {
	left: 225px;
	top: 23px;
	width:34px;
	height:81px;
}
#hindernis3 {
	left: 490px;
	top: 23px;
	width:37px;
	height:81px;
}
#hindernis4 {
	left: 659px;
	top: 25px;
	width:35px;
	height:51px;
}
#hindernis5 {
	left: 152px;
	top: 157px;
	width:160px;
	height:26px;
}
#hindernis6 {
	left: 368px;
	top: 78px;
	width:25px;
	height:105px;
}
#hindernis7 {
	left: 29px;
	top: 156px;
	width:68px;
	height:32px;
}
#hindernis8 {
	left: 463px;
	top: 157px;
	width:169px;
	height:28px;
}
#hindernis9 {
	left: 659px;
	top: 25px;
	width:35px;
	height:51px;
}
#hindernis10 {
	left: 704px;
	top: 156px;
	width:68px;
	height:32px;
}
#hindernis11 {
	left: 606px;
	top: 159px;
	width:28px;
	height:186px;
}
#hindernis12 {
	left: 704px;
	top: 320px;
	width:72px;
	height:28px;
}
#hindernis13 {
	left: 666px;
	top: 423px;
	width:36px;
	height:80px;
}
#hindernis14 {
	left: 499px;
	top: 355px;
	width:31px;
	height:148px;
}
#hindernis15 {
	left: 528px;
	top: 398px;
	width:58px;
	height:34px;
}
#hindernis16 {
	left: 498px;
	top: 182px;
	width:27px;
	height:79px;
}
#hindernis17 {
	left: 391px;
	top: 263px;
	width:135px;
	height:26px;
}
#hindernis18 {
	left: 362px;
	top: 240px;
	width:28px;
	height:132px;
}
#hindernis19 {
	left: 224px;
	top: 241px;
	width:165px;
	height:27px;
}
#hindernis20 {
	left: 195px;
	top: 345px;
	width:195px;
	height:27px;
}
#hindernis21 {
	left: 27px;
	top: 241px;
	width:136px;
	height:30px;
}
#hindernis22 {
	left: 90px;
	top: 270px;
	width:35px;
	height:105px;
}
#hindernis23 {
	left: 666px;
	top: 423px;
	width:36px;
	height:80px;
}
#hindernis24 {
	left: 90px;
	top: 441px;
	width:36px;
	height:63px;
}
#hindernis25 {
	left: 224px;
	top: 434px;
	width:33px;
	height:70px;
}
#hindernis26 {
	left: 360px;
	top: 425px;
	width:28px;
	height:79px;
}